{% extends "base.html" %}

{% block body %}
<form id="trip_review" action="{{ url_for('index') }}"  method="POST">
    <div class="container">
        <div>
            <p class="fw-semibold fs-1">Check existing ideas of trips:</p>
        </div>

        <div>
            <p class="fs-4">Please select a name:</p>
        </div>

    <div>
        <label for="trip_name" class="form-label">Trip name</label>
        <select class="form-select" name="trip_option" aria-label="Default select example">
            <option selected>Choose a trip</option>
            {% for trip in trip_name_list: %}
                <option value="{{trip}}">{{ trip }}</option>
            {% endfor %}
        </select>
    </div>
    
    <div>
        <br>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
    </div>
</form>
{% endblock %}
