{% extends "base.html" %}

{% block body %}
<form id="trip_review" action="{{ url_for('index') }}"  method="POST">
    <div class="container">
        <div>
            <p class="fw-semibold fs-1">Check existing ideas of trips:</p>
        </div>

        <div>
            <p class="fs-4">Please select a name:</p>
        </div>

    <div>
        <label for="trip_name" class="form-label">Trip name</label>
        <select class="form-select" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    
    <div>
        <br>
        <button type="submit" class="btn btn-primary btn-block">Submit</button>
    </div>
    </div>
</form>
{% endblock %}
