{% extends "base.html" %}

{% block body %}

<form id="new_trip_form" action="{{ url_for('new_trip_form') }}"  method="POST">
    <div class="container">
        <div class="row mb-3"></div>
        <div class="row mb-3">

        <label for="trip_name" class="col-sm-2 col-form-label">Trip name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="trip_name" name="trip_name">
        </div>
        </div>

        <div class="row mb-3">
        <label for="email" class="col-sm-2 col-form-label">Your email</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="email" name="email">
        </div>
        </div>

        <div class="row mb-3">
        <label for="description" class="col-sm-2 col-form-label">Short description</label>
        <div class="col-sm-10">
            <textarea class="form-control" id="description" name="description" rows="3"></textarea>
        </div>
        </div>

        <fieldset class="row mb-3">
        <legend class="col-form-label col-sm-2 pt-0">Completness</legend>
        <div class="col-sm-10">
            <div class="form-check">
            <input class="form-check-input" type="radio" name="completness" id="completness_1" value="option1" checked>
            <label class="form-check-label" for="completness_1">
                Yes - the idea is complete including price proposal
            </label>
            </div>
            <div class="form-check">
            <input class="form-check-input" type="radio" name="completness" id="completness_2" value="option2">
            <label class="form-check-label" for="completness_2">
                No - this is just pure idea
            </label>
            </div>
        </div>
        </fieldset>

        <div class="row mb-3">
        <div class="col-sm-2">May we contact you for details?</div>
        <div class="col-sm-8">
            <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck1" name="gridCheck1">
            <label class="form-check-label" for="gridCheck1">Yes, I agree</label>
            </div>
        </div>
        </div>
        
        <button type="submit" class="btn btn-success btn-block">Send proposal</button>

    </div>
</form>

{% endblock %}